mixin youtube(name)
  #modal01.c-modal
    #modal01Bg.c-modal__bg
    .c-modal__contentWrap
      #modal01Wrap.c-modal__content
        #modal01Inner.c-modal__contentInner
      #modal01Close.c-modal__close
        #modal01CloseMask.c-modal__closeInner
          span
          span
