extends ../pug_templates/layouts/layout
include ../pug_templates/components/youtube

block variables
  -
    var title = 'トップ';
    var description = '説明';

block page_css
  link(rel='stylesheet', href= PUBLIC_URL + '/css/home.css')

block content
  .p-youtube
    .p-youtube__title Youtube modal test
    ul.p-youtube__list
      li#modal01play.p-youtube__item 01
      li#modal02play.p-youtube__item 02
      li#modal03play.p-youtube__item 03
  .l-modal
    +youtube

block page_js
  script(src= PUBLIC_URL + '/js/home.js')
